<!--Jquery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="scripts/index.js" charset="utf-8"></script>

<div class="">
    <p id="footer-copy">Viscontti G. - 2022</p>
</div>
</body>
</html>
