<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Budget App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans:wght@300&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>

    <div class="">

    <nav class="nav-header">
        <div class="title-div">
          <p class="web-title">BUDGET APP</p>
        </div>
          <ul class="nav-links-ul">
            <!-- 6 -->
            <li><a href="/">HOME</a></li>
            <li><a href="/budget">BUDGET</a></li>
            <li><a href="/accounts">ACCOUNTS</a></li>
          </ul>
    </nav>
