<%- include("partials/_header.ejs"); -%>

<h1>Home</h1>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua. <br />
  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
  aliquip ex ea commodo consequat. <br />
  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
  eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
  in culpa qui officia deserunt mollit anim id est laborum. <br />
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti similique
  dolor explicabo possimus fugiat velit eos facilis mollitia, eveniet rerum,
  laboriosam distinctio ducimus soluta tenetur? A debitis ipsam sunt quos! Lorem
  ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua. <br />
  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
  aliquip ex ea commodo consequat. <br />
  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
  eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
  in culpa qui officia deserunt mollit anim id est laborum. <br />
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti similique
  dolor explicabo possimus fugiat velit eos facilis mollitia, eveniet rerum,
  laboriosam distinctio ducimus soluta tenetur? A debitis ipsam sunt quos!
</p>

<%- include("partials/_footer.ejs"); -%>
