form .col-sm-6, .col, .col-6 {
  padding: 0.3%;
}

/* no border */
#assigned, p.category, #available {
  border: none;
  step: false;
  font-size: 0.95rem;
}

.transactions p {
  font-size: 0.95rem;
}

/* hide 'step' arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.hidden {
  display: none;
}

.header {
  background-color: rgb(0,52,64);
  height: 5rem;
}


.available {
  display: inline-block;
  color: rgb(23,163,54);
  margin-top: 0;
  font-size: 4rem;
}

.excedeMaximo {
  color: red;
}

.available-title  {
  position: relative;
  display: inline;
}


p.test {
  margin: 0.1rem;
}


.bar-menu {
  padding: 0.1rem;
  background-color: rgb(229,245,249);
  margin: 0;
}



.debit {
display: inline-block;
background-color: #5b6b80;
}

.efectivo {
  display: inline-block;
  background-color: #5b6b80;
}


.transaction-field {
    display: inline-block;
    margin: 0.2rem;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}
