* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Dancing Script', cursive;
  background-color: rgb(237, 237, 237);
}

link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

:visited {
  color: yellow;
}



#available {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 2rem;
  background-color: rgb(14, 163, 14);
  border-radius: 25px;
  padding: 0 3%;
  width: 45%;
  height: 7rem;
  margin-top: 16px;
  margin-bottom: 16px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 1rem;
  min-height: 5rem;
  max-width: 80%;
  margin: 0 auto;
  padding: 32px 16px;
}

.header-container {
  background-color: rgb(0, 0, 0);
  width: 100%;
}

.nav-links-ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.web-title {
   font-size: 2rem; 
  font-weight: bolder;
  margin: 0;
}



.categories {
  min-width: 100%;
  overflow: hidden;
}

.categories-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 25px;
  padding: 0 8px;
  margin: 2px 0;
  font-size: 1.2rem;
} 

.categories-form:hover {
  background-color: rgb(164, 164, 164);
}


input {
  background-color: inherit;
  border: none;
  border-bottom: 1px dashed rgb(123, 123, 123);
  text-align: start;
  width: auto;
}

.categories .category {
  flex-basis: 50%;
}

.budget-page {
  display: flex;
  flex-direction: column;
  padding: 1% 1%;
  max-width: 80%;
  margin: 0 auto;
}

.hidden {
  display: none;
}

/* hide 'step' arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  width: 100px;
}

.add-category-para {
  display: inline;
}

.bar-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#addCatButton {
  border: none;
}

#addCatButton:hover {
  transform: scale(200%);
  background-color: inherit;
}


.excedeMaximo {
  color: red;
}

